*{
    margin: 0px;
    padding: 0px;
}

.main{
    background-color: black;
    color: silver;
    margin: 10px 600px;
    border-radius: 20px;
    text-align: center;
}

section{
    display: flex;
    margin: 25px;
    padding: 5px;
    gap: 20px;
}

input{
    border-radius: 20px;
    width: 300px;
    margin: 20px 0px;
    padding: 10px 0px;
    margin-bottom: 10px ;
}

section div{
    background-color: silver;
    color: black;
    width: 70px;
    font-size: 25px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}