*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: lightgrey;
    color: darkblue;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

header h1{
    font-size: 70px;
    margin: 10px 0px;
    color: darkblue;
}

ul{
    margin: 30px 0px;
}

li{
    display: inline;
    padding: 20px;
}

li a{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
}

li a:hover{
    background-color: darkblue;
    color: lightgray;
    border-radius: 10px;
}

.image{
    display: flex;
    justify-content: center;
    background-image: url('https://t3.ftcdn.net/jpg/16/70/11/14/360_F_1670111491_ttspr6D0h0UT6jbWqcnEKDrS0ClPAd9s.jpg');
    background-size: 50%;
}

.image img{
    width: 1200px;
    height: 500px;
}

footer{
    background-color: lightgrey;
    color: darkblue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    padding: 20px 0px;
}

@media (max-width: 1100px) {
     
    header{
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    li{
        display: block;
    }

    img{
        width: 200px;
        height: auto;
        margin: 20px;
    }
}