*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightblue;
}

.main{
    text-align: center;
}

.container{
    width: 500px;
    text-align: center;
    background-color: red;
    margin: 60px 500px;
    border-radius: 30px;
    padding: 40px 0px;
}

input, .btn{
    font-weight: bold;
    font-size: 20px;
}

.list{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}